

       <div class="top-tagbar">
    <div class="w-100">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-4 col-9">
                <div class="fs-14 fw-medium">
                    <i class="bi bi-geo-alt align-middle me-2"></i> Phoenix, USA
                </div>
            </div>
            <div class="col-md-4 col-6 d-none d-xxl-block">
                <div class="d-flex align-items-center justify-content-center gap-3 fs-14 fw-medium">
                    <div>
                        <i class="bi bi-envelope align-middle me-2"></i> support@themesbrand.com
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-3">
                <div class="d-flex align-items-center justify-content-end gap-3 fs-14">
                    <div class="text-reset fw-normal d-none d-lg-block">
                        <i class="bi bi-telephone-outbound align-middle me-2"></i> +(235) 01234 5678
                    </div>
                    <hr class="vr d-none d-lg-block">
                    <div class="dropdown topbar-head-dropdown topbar-tag-dropdown justify-content-end">
                        <button type="button" class="btn btn-icon btn-topbar text-reset rounded-circle fs-14 fw-medium" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="header-lang-img" src="images/us.svg" alt="Header Language" height="16" class="rounded-circle me-2"> <span id="lang-name">English</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language py-2" data-lang="en" title="English">
                                <img src="images/us.svg" alt="user-image" class="me-2 rounded-circle" height="18">
                                <span class="align-middle">English</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp" title="Spanish">
                                <img src="images/spain.svg" alt="user-image" class="me-2 rounded-circle" height="18">
                                <span class="align-middle">Española</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="gr" title="German">
                                <img src="images/germany.svg" alt="user-image" class="me-2 rounded-circle" height="18"> <span class="align-middle">Deutsche</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="it" title="Italian">
                                <img src="images/italy.svg" alt="user-image" class="me-2 rounded-circle" height="18">
                                <span class="align-middle">Italiana</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru" title="Russian">
                                <img src="images/russia.svg" alt="user-image" class="me-2 rounded-circle" height="18">
                                <span class="align-middle">русский</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ch" title="Chinese">
                                <img src="images/china.svg" alt="user-image" class="me-2 rounded-circle" height="18">
                                <span class="align-middle">中国人</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="fr" title="French">
                                <img src="images/french.svg" alt="user-image" class="me-2 rounded-circle" height="18">
                                <span class="align-middle">français</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sa" title="Arabic">
                                <img src="images/sa.svg" alt="user-image" class="me-2 rounded-circle" height="18">
                                <span class="align-middle">عربى</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg ecommerce-navbar" id="navbar">
    <div class="container">
        <a class="navbar-brand d-none d-lg-block" href="/">
            <div class="logo-dark">
                <img src="logo/hsdhf.png" alt="" height="25">
            </div>
            <div class="logo-light">
                <img src="images/logo-light.png" alt="" height="25">
            </div>
        </a>
        <button class="btn btn-soft-primary btn-icon d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list fs-20"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0" id="navigation-menu">
                <li class="nav-item d-block d-lg-none">
                    <a class="d-block p-3 h-auto text-center" href="/">
                        <img src="images/logo-dark.png" alt="" height="25" class="card-logo-dark mx-auto">
                        <img src="images/logo-light.png" alt="" height="25" class="card-logo-light mx-auto">
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link " data-key="t-demos" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Home
                    </a>
                   
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-mega-full">
                    <a class="nav-link dropdown-toggle" data-key="t-catalog" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu p-0">
                        <div class="row g-0 g-lg-4">
                            <div class="col-lg-2 d-none d-lg-block">
                                <div class="card rounded-start rounded-0 border-0 h-100 mb-0 overflow-hidden" style="background-image: url('images/img-1.jpg');background-size: cover;">
                                    <div class="bg-overlay bg-light bg-opacity-25"></div>
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <a href="/Shopnow" class="btn btn-secondary btn-hover"><i class="ph-storefront align-middle me-1"></i> <span data-key="t-shop-now">Shop Now</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                     <div class="col-lg-2">
                                <ul class="dropdown-menu-list list-unstyled mb-0 py-3">
                                    <li>
                                        <p class="mb-2 text-uppercase fs-11 fw-medium text-muted menu-title" data-key="t-others">Latest</p>
                                    </li>
                                          <li class="nav-item">
                            <a href="/watch" class="nav-link" data-key="t-unique-watches">Unique Watches</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="modern-fashion.html" class="nav-link" data-key="t-modern-fashion">Modern Fashion</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="/trend" class="nav-link" data-key="t-trend-fashion">Trend Fashion</a>
                        </li>
                                </ul>
                            </div>
                            <div class="col-lg-2">
                                <ul class="dropdown-menu-list list-unstyled mb-0 py-3">
                                    <li>
                                        <p class="mb-2 text-uppercase fs-11 fw-medium text-muted menu-title" data-key="t-men">Men</p>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-clothing">Clothing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-watches">Watches</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-bags-Luggage">Bags &amp; Luggage</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-footwear">Footwear</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-innerwear">Innerwear</a>
                                    </li>
                                
                                </ul>
                            </div>
                            <div class="col-lg-2">
                                <ul class="dropdown-menu-list list-unstyled mb-0 py-3">
                                    <li>
                                        <p class="mb-2 text-uppercase fs-11 fw-medium text-muted menu-title" data-key="t-women">Women</p>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-western-wear">Western Wear</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-handbags-clutches">Handbags &amp; Clutches</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-lingerie-nightwear">Lingerie &amp; Nightwear</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-footwear">Footwear</a>
                                    </li>
                                      <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-innerwear">Innerwear</a>
                                    </li>
                                
                                </ul>
                            </div>
                            <div class="col-lg-2">
                                <ul class="dropdown-menu-list list-unstyled mb-0 py-3">
                                    <li>
                                        <p class="mb-2 text-uppercase fs-11 fw-medium text-muted menu-title" data-key="t-accessories-others">Accessories</p>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-beauty-health-grocery">Beauty</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-sports-fitness-bags-luggage">Sports, Fitness, Bags, Luggage</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Shopnow" class="nav-link" data-key="t-sports-fitness-bags-luggage">Perfumes And Sprays</a>
                                    </li>
                              
                                </ul>
                            </div>
  
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-key="t-shop">
                        Help
                    </a>
                    <div class="dropdown-menu dropdown-mega-menu-xl dropdown-menu-center p-0">
                        <div class="row g-0 g-lg-4">
                            <div class="col-lg-5 d-none d-lg-block">
                                <div class="card rounded-start rounded-0 border-0 h-100 mb-0 overflow-hidden" style="background-image: url('images/img-2.jpg'); background-size: cover;">
                                    <div class="bg-overlay bg-primary" style="opacity: 0.90;"></div>
                                    <div class="card-body d-flex align-items-center justify-content-center position-relative">
                                        <div class="text-center">
                                            <h6 class="card-title text-white">Welcome to Toner</h6>
                                            <p class="text-white-75">See all the products at once.</p>
                                            <a href="/Shopnow" class="btn btn-light btn-sm btn-hover">Shop Now <i class="ph-arrow-right align-middle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row g-0 g-lg-4">
                                    <div class="col-lg-6">
                                        <div class="py-3">
                                            <ul class="dropdown-menu-list list-unstyled mb-0">
                                                <li>
                                                    <p class="mb-2 text-uppercase fs-11 fw-medium text-muted menu-title" data-key="t-checkout-pages">Help Pages</p>
                                                </li>
                                                  <li class="nav-item">
                            <a href="/purchase" class="nav-link" data-key="t-purchase-guide">Purchase Guide</a>
                        </li>
                          <li class="nav-item">
                            <a href="/ecommerce" class="nav-link" data-key="t-faq">FAQ</a>
                        </li>
                          <li class="nav-item">
                            <a href="/terms" class="nav-link" data-key="t-terms-of-service">Terms of Service</a>
                        </li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                             
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-key="t-about-us" href="/about" >
                        About Us
                    </a>
                
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" href="/contact" data-key="t-contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/backends" data-key="t-contact">backend</a>
                </li>
            </ul>
        </div>
        <div class="bg-overlay navbar-overlay" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent.show"></div>

        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle text-muted" data-bs-toggle="modal" data-bs-target="#searchModal">
                <i class="bx bx-search fs-22"></i>
            </button>
            <div class="topbar-head-dropdown ms-1 header-item">
                <button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle text-muted" data-bs-toggle="offcanvas" data-bs-target="#ecommerceCart" aria-controls="ecommerceCart">
                    <i class="ph-shopping-cart fs-18"></i>
                    <span class="position-absolute topbar-badge cartitem-badge fs-10 translate-middle badge rounded-pill bg-danger" id="cartItemCount"></span>
                </button>
            </div>

     
            <div class="dropdown header-item dropdown-hover-end" id="loginContainer">
                <a href="/login" class="nav-link">
                <button type="button" class="btn btn-danger btn-hover p-1 mx-2 d-flex" aria-expanded="false">
                    <i class="ph-user-circle fs-22 mx-1"></i>

                       Login
                   
                </button>
                </a>
                <button type="button" class="btn btn-danger btn-hover p-1 mx-2"  aria-expanded="false">
                    <a href="/signup" class="nav-link">

                        Sign Up
                    </a>
                </button>
              
      
            </div>
            <div id="username"></div>
            <div class="dropdown header-item dropdown-hover-end ">
                <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="images/avatar-1.jpg" alt="Header Avatar">
                </button>
              
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <h6 class="dropdown-header">Welcome Diana!</h6>
                    <a class="dropdown-item" href="/order-history"><i class="bi bi-cart4 text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Order History</span></a>
                    <a class="dropdown-item" href="/track"><i class="bi bi-truck text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Track Orders</span></a>
                    <a class="dropdown-item" href="/ecommerce"><i class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Help</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/account"><span class="badge bg-success-subtle text-success mt-1 float-end">New</span><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Settings</span></a>
                    <a class="dropdown-item" href="/auth-logout"><i class="bi bi-box-arrow-right text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
                </div>
            </div>
        </div>
    </div>
</nav>


        <!--cart -->
        <div class="offcanvas offcanvas-end product-list" tabindex="-1" id="ecommerceCart" aria-labelledby="ecommerceCartLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="ecommerceCartLabel">My Cart <span class="badge bg-danger align-middle ms-1 cartitem-badge"> </span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body px-0">
                <div data-simplebar="" class="h-100">
                    <ul class="list-group list-group-flush cartlist" id="cartItemLists">
                        <!-- This is where the goods from the database will be displayed -->
                        
                        
                    </ul>

                    <div class="table-responsive mx-2 border-top border-top-dashed">
                        <table class="table table-borderless mb-0 fs-14 fw-semibold">
                            <tbody>
                                <tr>
                                    <td>Sub Total :</td>
                                    <td class="text-end cart-subtotal"></td>
                                </tr>
                                <tr>
                                    <td>Discount <span class="text-muted"></span>:</td>
                                    <td class="text-end cart-discount"></td>
                                </tr>
                                <tr>
                                    <td>Shipping Charge :</td>
                                    <td class="text-end cart-shipping"></td>
                                </tr>
                                <tr>
                                    <td>Estimated Tax (12.5%) : </td>
                                    <td class="text-end cart-tax"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="offcanvas-footer border-top p-3 text-center">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="m-0 fs-16 text-muted">Total:</h6>
                    <div class="px-2">
                        <h6 class="m-0 fs-16 cart-total"></h6>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-6">
                        <a href="/shop-cart" type="button" class="btn btn-light w-100" id="reset-layout">View Cart</a >
                    </div>
                    <div class="col-6">
                        <a href="/address"  class="btn btn-info w-100">Continue to Checkout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content rounded">
                    <div class="modal-header p-3">
                        <div class="position-relative w-100">
                            <input type="text" class="form-control form-control-lg border-2" placeholder="Search for Toner..." autocomplete="off" id="search-options" value="">
                            <span class="bi bi-search search-widget-icon fs-17"></span>
                            <a href="javascript:void(0);" class="search-widget-icon fs-14 link-secondary text-decoration-underline search-widget-icon-close d-none" id="search-close-options">Clear</a>
                        </div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 overflow-hidden" id="search-dropdown">

                        <div class="dropdown-head rounded-top">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0 fs-14 text-muted fw-semibold"> RECENT SEARCHES </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-item bg-transparent text-wrap">
                                <a href="/" class="btn btn-soft-secondary btn-sm btn-rounded">how to setup <i class="mdi mdi-magnify ms-1 align-middle"></i></a>
                                <a href="/" class="btn btn-soft-secondary btn-sm btn-rounded">buttons <i class="mdi mdi-magnify ms-1 align-middle"></i></a>
                            </div>
                        </div>

                        <div data-simplebar="" style="max-height: 300px;" class="pe-2 ps-3 my-3">
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- removeItemModal -->
        <div id="removeItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you sure ?</h4>
                                <p class="text-muted mx-4 mb-0">Are you sure you want to remove this product ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn w-sm btn-danger" id="remove-product">Yes, Delete It!</button>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="subscribeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-body p-0 bg-info-subtle rounded">
                        <div class="row g-0 align-items-center">
                            <div class="col-lg-6">
                                <div class="p-4 h-100">
                                    <span class="badge bg-info-subtle text-info  fs-13">GET 10% SALE OFF</span>
                                    <h2 class="display-6 mt-2 mb-3">Subscribe &amp; Get <b>50% Special</b> Discount On Email</h2>
                                    <p class="mb-4 pb-lg-2 fs-16">Join our newsletter to receive the latest updates and promotion</p>
                                    <form action="#!">
                                        <div class="position-relative ecommerce-subscript">
                                            <input type="email" class="form-control rounded-pill border-0" placeholder="Enter your email">
                                            <button type="submit" class="btn btn-info btn-hover rounded-pill">Subscript</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-4 pb-0">
                                    <img src="images/subscribe.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <!-- <a href="../backend/index.html" class="btn btn-warning position-fixed bottom-0 start-0 m-5 z-3 btn-hover d-none d-lg-block"><i class="bi bi-database align-middle me-1"></i> Backend</a> -->

        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-info btn-icon" style="bottom: 50px;" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <script>
          const token = sessionStorage.getItem("token");
const username = sessionStorage.getItem("username");

        </script>
        <!--end back-to-top-->

      