<!DOCTYPE html><html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none"><head>

    <meta charset="utf-8">
    <title>Statistics | Toner eCommerce + Admin HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="eCommerce + Admin HTML Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Layout config Js -->
    <script src="js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="css/app.min.css" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="css/custom.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Begin page -->
     {{> headerbackend}}
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Statistics</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Toner</a></li>
                                        <li class="breadcrumb-item active">Statistics</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Sales / Purchase</h5>
                                </div>
                                <div class="card-body">
                                    <div id="line_chart_datalabel" data-colors="[" --tb-primary",="" "--tb-success"]"="" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Income Statistics</h5>
                                </div>
                                <div class="card-body">
                                    <div id="income_statistics" data-colors="[" --tb-success",="" "--tb-primary",="" "--tb-success"]"="" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-xxl-8">
                            <div class="card">
                                <div class="card-header d-sm-flex align-items-center">
                                    <h5 class="card-title mb-3 mb-sm-0 flex-grow-1">Top Selling Product</h5>
                                    <div class="flex-shrink-0">
                                        <button type="button" class="btn btn-soft-secondary btn-sm">
                                            ALL
                                        </button>
                                        <button type="button" class="btn btn-soft-secondary btn-sm">
                                            1M
                                        </button>
                                        <button type="button" class="btn btn-soft-secondary btn-sm">
                                            6M
                                        </button>
                                        <button type="button" class="btn btn-soft-primary btn-sm">
                                            1Y
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="selling_product" data-colors="[" --tb-primary",="" "--tb-primary-rgb,="" 0.80",="" 0.70",="" 0.60",="" 0.50"]"="" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4">
                            <div class="card">
                                <div class="card-header align-items-center d-sm-flex">
                                    <h4 class="card-title mb-3 mb-sm-0 flex-grow-1">Orders by Countries</h4>
                                    <div>
                                        <button type="button" class="btn btn-soft-secondary btn-sm">
                                            ALL
                                        </button>
                                        <button type="button" class="btn btn-soft-primary btn-sm">
                                            1M
                                        </button>
                                        <button type="button" class="btn btn-soft-secondary btn-sm">
                                            6M
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="countries_charts" data-colors="[" --tb-info",="" "--tb-info",="" "--tb-info","--tb-danger",="" "--tb-info"]"="" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script>2024 © Toner.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design &amp; Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-info btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

 

    <!-- JAVASCRIPT -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src="js/plugins.js"></script>

    <!-- apexcharts -->
    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="/assets/js/backend/statistics.init.js"></script>

    <!-- App js -->
    <script src="js/app.js"></script>


</body></html>